@{
    ViewData["Title"] = "Motivo da Avaliação";

}

<h4>Administrar Motivo da Avaliação</h4>

<form>
    <div class="row">

        <div class="input-field col s6">
            @*<i class="material-icons prefix">group</i>*@
            <input id="ds_motivo" type="text">
            <label for="ds_motivo">Motivo</label>
        </div>

        <div class="input-field col s4">
            <select id="tipo">
                <option value="0">Todos</option>
                <option value="1">Subsídio</option>
                <option value="2">Subsídio Específico</option>
                <option value="3">Resumo Fático</option>
            </select>
            <label>Tipo</label>
        </div>
        <div class="input-field col s2">
            <select id="StatusFilter">
                <option value="" selected>Todos</option>
                <option value="1">Ativo</option>
                <option value="0">Inativo</option>
            </select>
            <label>Status</label>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <a class="waves-effect waves-light btn-small" id="btnSearch"><i class="material-icons left">search</i>Pesquisar</a>
            <a class="waves-effect waves-light btn-small" id="btnClear"><i class="material-icons left">clear</i>Limpar</a>
            <a asp-controller="MotivoAvaliacao" asp-action="Create" class="waves-effect waves-light btn-small"><i class="material-icons left small">add</i>Novo Motivo</a>
        </div>
    </div>
</form>
<hr>
<footer id="DivRenderData" style="display:none;">
    <partial name="ListRecord" />
</footer>