@model WebAdministrator.Models.Login

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (ViewBag.invalido ?? false)
    {
        <script>
            M.toast({ html: '<i class="material-icons white-text">report</i>&nbsp;Dados de usuário inválidos!', classes: 'orange darken-3 rounded' });
        </script>
    }
}

<div class="row" style="margin-top:10%;">
    <form asp-action="Index" method="post">
        <div class="col l4 offset-l4" >
            <div class="z-depth-3" style="border-radius: 15px 15px 15px 15px; border:1px solid #808080;">
                <div asp-validation-summary="ModelOnly" class="red-text"></div>
                <div style="padding:15px;">
                    <div class="flow-text center-align">Autenticação de Usuário</div>
                    <div class="input-field ">
                        <i class="material-icons prefix">perm_identity</i>
                        <input asp-for="UserName" autocomplete="off" />
                        <label asp-for="UserName"></label>
                        <span asp-validation-for="UserName" class="red-text"></span>
                    </div>
                    <div class="input-field ">
                        <i class="material-icons prefix">lock_outline</i>
                        <input asp-for="Password" type="password" autocomplete="off" />
                        <label asp-for="Password"></label>
                        <span asp-validation-for="Password" class="red-text"></span>
                    </div>
                    <div class="row" style="padding-left:45px;">
                        <button class="btn waves-effect waves-light" type="submit" id="btnLogin">
                            <i class="material-icons left">check</i>
                            Enviar..
                        </button>
                        <button class="btn waves-effect waves-light" type="button" id="clearFrm">
                            <i class="material-icons left">clear</i>
                            Limpar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

