
@{
    ViewData["Title"] = "Index";

    var listItem = new SelectList(WebAdministrator.Util.Utility.GetSelectLists<Empresa_Envolvida_Origem>(x => x.Status).Select(y => new SelectListItem { Value = y.Cd_Empresa.ToString(), Text = y.No_Empresa }).AsEnumerable(), "Value", "Text");
    var listItemFamilia = new SelectList(WebAdministrator.Util.Utility.GetSelectLists<Familia>(x => x.Status).Select(y => new SelectListItem { Value = y.Cd_Grupo_Familia.ToString(), Text = y.Ds_Grupo_Familia }).AsEnumerable(), "Value", "Text");
}

<h4>Pesquisar Empresa origem/envolvida</h4>

<form>
    <div class="row">
        <div class="input-field col s10">
            <select id="Cd_Empresa_Envolvida" asp-items="listItem">
                <option value="" selected>Todos</option>
            </select>
            <label>Empresa Envolvida</label>
        </div>
       
        <div class="input-field col s2">
            <select id="StatusFilter">
                <option value="" selected>Todos</option>
                <option value="1">Ativo</option>
                <option value="0">Inativo</option>
            </select>
            <label>Status</label>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <a class="waves-effect waves-light btn-small" id="btnSearch"><i class="material-icons left">search</i>Pesquisar..</a>
            <a class="waves-effect waves-light btn-small" id="btnClear"><i class="material-icons left">clear</i>Limpar</a>
            <a asp-controller="OrigemEnvolvida" asp-action="Create" class="waves-effect waves-light btn-small"><i class="material-icons left small">add</i>Novo</a>
        </div>
    </div>
</form>
<hr>
<footer id="DivRenderData" style="display:none;">
    <partial name="ListRecord" />
</footer>
